name: Hello Actions

on:
  push:

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "Hello from GitHub Actions"
      - name: Ping Jenkins
        run: curl https://subjective-font-search-frame.trycloudflare.com
