name: Pull Request trigger

on:
  push:            # cứ có commit là chạy (dễ test nhất)
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:   # cho phép bấm chạy tay
#    inputs:
#      branch:
#        description: "Branch to run"
#        type: string
#        required: true
#        default: "feature"
#      suite:
#        description: "Test suite to run"
#        type: string
#        required: true
#        default: "smoke_test"

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Trigger Jenkins Job
        env:
          JENKINS_USER: ${{ vars.JENKINS_USER }}
          JENKINS_API_TOKEN: ${{ vars.JENKINS_TOKEN }}
          JENKINS_BASE_URL: ${{ vars.JENKINS_URL }}
          JENKINS_JOB: ${{ vars.JENKINS_JOB }}

        shell: bash
        run: |
          pwd
          ls -l
          chmod +x trigger.sh
          ./trigger.sh