name: Pull Request trigger

on:
  push:            # cứ có commit là chạy (dễ test nhất)
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:   # cho phép bấm chạy tay

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Job
        run: |
          curl -X POST "${{ vars.JENKINS_URL}}/job/${{ vars.JENKINS_JOB }}/buildWithParameters" \
            --user "${{ vars.JENKINS_USER }}:${{ vars.JENKINS_TOKEN }}" \
            --data-urlencode "BRANCH=feature" \
            --data-urlencode "SUITE=smoke_test"
        # nothing
